<form (ngSubmit)="handleSubmit()" [formGroup]="userForm" class="form-container">
  <h3>Formulaire d'inscription</h3>
<!--
  <mat-form-field>
    <input matInput placeholder="Identifiant" formControlName="identifiant">
  </mat-form-field>
-->
  <mat-form-field>
    <input matInput placeholder="Mot de passe" type="password" formControlName="password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
<!--
  <mat-form-field>
    <input matInput placeholder="Confirmez le mot de passe" type="confirmPassword" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
-->
  <mat-form-field>
    <input matInput placeholder="Enter your email" type="email" name="email" formControlName="email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
<!--
  <mat-form-field>
    <input matInput placeholder="Ville" name="ville">
  </mat-form-field>

  <form [formGroup]="userForm">
    <mat-checkbox formControlName="hideRequired" required>
      <p class="color">Êtes-vous un artiste proposant des prestations privées?</p>
    </mat-checkbox>
  </form>

  <div class="artist" *ngIf="userForm.valid">
    <mat-form-field>
      <input matInput placeholder="Nom d'artiste" name="artistName">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" name="description"></textarea>
    </mat-form-field>
  </div>
-->
  <!-- routerLink="/home" -->

  <div class="form-button">
    <button mat-raised-button routerLink="" class="color-annuler">Annuler</button>
    <button mat-raised-button type="submit" class="color-valider">Valider</button>
  </div>
</form>



