<mat-grid-list cols="4" rowHeight="2:2">
  <mat-grid-tile *ngFor="let artist of artists | slice:0:8">
    <!--IMAGE DE FOND-->
    <section *ngFor="let cover of covers | slice:0:1">
    <div class="image"
         [ngStyle]="{'background-image': 'url(' + cover.url + ')'}">
      <!--BLOC DETAILS DE L'ARTISTE-->
      <div class="text">
        <!-- nom, description de l'artiste -->
        <h2> {{ artist.artisteNom }} </h2> <!-- artist.name -->
        <p> {{ artist.descriptionCourte }} </p> <!-- artist.description -->

        <section>
          <!-- note de l'artiste -->
          <app-list>
            <app-rating></app-rating>
          </app-list>

          <!-- boutons VOIR & BOOK -->
          <button (click)="getArtist(artist)">
            <mat-icon>remove_red_eye</mat-icon>
            <span>VOIR</span>
          </button>

          <button [routerLink]="['/event-create', artist.id]">
            <mat-icon>calendar_today</mat-icon>
            <span>BOOKER</span>
          </button>
        </section>
      </div>
    </div>
    </section>
  </mat-grid-tile>
</mat-grid-list>
