<mat-toolbar class="color">
  <app-menu-title></app-menu-title>

  <!-- //////////////// MENUS NAVBAR DROITE //////////////// -->

  <!-- routes :
  /welcome

  MENU "SE CONNECTER  |  S'INSCRIRE" -->
  <app-menu-login-signin *ngIf="isWelcome"></app-menu-login-signin>


  <!-- routes :
  /home /pageAllEvents /artistPage/{Id}

  MENU "PROFIL" -->
  <app-menu-profil *ngIf="isHome || isPageEvents || isArtistPage"></app-menu-profil>

  <!-- //////////////// MENUS NAVBAR GAUCHE //////////////// -->

  <!-- routes :
   /home

   MENU "HAMBURGER" -->
  <app-menu-hamburger *ngIf="isHome"></app-menu-hamburger>

  <!-- routes :
  /signin /login /AllEventsPage /artistPage/{Id} /artistProfil/{Id}

  MENU "ARROW" -->
  <app-menu-arrow (click)="goBack()" *ngIf="isSigin || isLogin || isPageEvents || isArtistPage || isUserProfil"></app-menu-arrow>
</mat-toolbar>


