section:nth-of-type(1) {
  height: 35%;
  background-image: url('https://userscontent2.emaze.com/images/8d3b8e01-f219-4b53-a7e4-eb8157f18f75/98207cafd45ab22768755392b00ca8f9.jpg');
  background-position-y: 60%;
}
