.form-container {
  width: 30%;
  margin: 5rem auto;
  padding: 1rem 10rem ;
  background-color: #E7E6E6;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.form-button {
  margin: 0 auto;
}

.form-button > button {
  margin: 0 1rem;
}

.color-annuler {
  color: #ffff;
  background-color: #4A4A4A;
}

.color-valider {
  color: #ffff;
  background-color: #17998C;
}

h3 {
  text-align: center;
  color: #6E6E6E;
}
