h3 {
  text-align: center;
  color: #6E6E6E;
}

.formgroup-form {
  width: 30%;
  margin: 3rem auto;
  padding: 1rem 10rem ;
  background-color: #E7E6E6;
  border-radius: 15px;
}
  .formgroup-user {
    flex-direction: column;
    display: flex;
  }
    .form-email {
      padding-bottom: 30px;
    }
    .form-password {
      padding-bottom: 50px;
    }

/*Div boutons*/
.btn {
  margin: 0 auto;
}
.btn > button {
  margin: 0 1rem;
}

/*Couleurs boutons */
.color-annuler {
  color: #ffff;
  background-color: #4A4A4A;
}
.color-valider {
  color: #ffff;
  background-color: #17998C;
}


