<section>
  <p class="marginTop">Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des particuelers qui souhaitent oragniser des concerts chez eux</p>
  <p>Le spectateurs sont directements invités par l'organisateurs, une participation pourra être demandée pour le cachet des artistes.</p>
  <div class="flex-container">
    <div class="flex-item">
      <div class="image image-first"></div>
      <p>Musiciens</p>
      <p>Proposez des concerts privés</p>
    </div>
    <div class="flex-item">
      <div class="image image-second"></div>
      <p>Spectateurs!</p>
      <p>Vivez une expérience unique</p>
    </div>
    <div class="flex-item">
      <div class="image image-third"></div>
      <p>Organisateurs</p>
      <p>Paratgez vous coups de coeurs</p>
    </div>
  </div>
</section>
