<button mat-button [matMenuTriggerFor]="menu" (click)="switchIcon()">
  <mat-icon>{{ iconName }}</mat-icon>
</button>

<mat-menu #menu="matMenu" (closed)="switchIcon()">
  <button mat-menu-item (click)="navigateToHome()">
    <mat-icon>home</mat-icon>
    <span>Accueil</span>
  </button>

  <button mat-menu-item (click)="navigateToEvents()">
    <mat-icon>event</mat-icon>
    <span>Evenements</span>
  </button>

  <button mat-menu-item (click)="navigateToContacts()">
    <mat-icon>group</mat-icon>
    <span>Contacts</span>
  </button>
</mat-menu>

