<div class="global">
  <div id="items">
  <h3>Filtrer les évènements</h3>
  <mat-checkbox>Invitations</mat-checkbox>
  <mat-checkbox>Organisateur</mat-checkbox>
  <mat-checkbox>À venir</mat-checkbox>
  <mat-checkbox>Passés</mat-checkbox>
  </div>
  <section >
    <span>Date</span>
    <img src="faresse.jpg" alt="">
    <app-list><app-rating></app-rating></app-list>
  </section>
<br>
  <section>
    <span>Date</span>
    <img src="faresse.jpg" alt="">
    <app-list><app-rating></app-rating></app-list>
  </section>
  <br>
  <section>
    <span>Date</span>
    <img src="faresse.jpg" alt="">
    <app-list><app-rating></app-rating></app-list>
  </section>
</div>
