<main>

  <h3>Filtrer les évènements</h3>

  <section class="checkbox">
    <mat-checkbox>Invitations</mat-checkbox>
    <mat-checkbox>Organisateur</mat-checkbox>
    <mat-checkbox>À venir</mat-checkbox>
    <mat-checkbox>Passés</mat-checkbox>
  </section>

  <section class="zone" *ngFor="let user of users">
    <p>VEN 12/10</p>
    <img src="http://s3.amazonaws.com/quietus_production/images/articles/7183/The_who_1318778418_resize_460x400.jpg"/>
    <div class="block-infos">
      <h1>{{user.username}}</h1>
      <div class="infos">
        <mat-icon>mail</mat-icon>
        <div class="adress">
          <div> {{user.address.suite}} {{user.address.street}} </div>
          <div> {{user.address.zipcode}} {{user.address.city}} </div>
        </div>
      </div>
    </div>
    <div class="block-center"></div>
    <div class="ratings">
      <app-list><app-rating></app-rating></app-list>
      <p>X places restantes</p>
    </div>
    <div class="booker">
      <h3 style="color:black">Validation ?</h3>
      <div class="validate">
        <mat-icon>clear</mat-icon>
        <mat-icon>done</mat-icon>
      </div>
    </div>
  </section>

</main>
