main {
  background-color: white;
  width: 125vh;
  height: 2200px;
  left: 0;
  right: 0;
  margin: 50px auto;
  position: absolute;
}

h3 {
  color: #878787;
  text-align: center;
  margin-top: 20px;
}

mat-checkbox{
  margin: 0 20px;
}

.checkbox {
  text-align: center;
}

.zone {
  width: 90%;
  height: 150px;
  box-shadow: 2px 1px 1px 1px grey;
  margin: 50px auto;
  display: flex;
}

.zone > p {
  height: 130px;
  width: 130px;
  margin: 10px;
  background-color: #9B9B9B;
  line-height: 130px;
  text-align: center;
}

.zone > img {
  height: 130px;
  width: 130px;
  margin: 10px;
}

.block-infos {
  display: flex;
  flex-direction: column;
}

.infos {
  display: flex;
  flex-direction: row;
}

.adress {
  margin-left: 10px;
}
