<mat-grid-list cols="4" rowHeight="2:2">
  <mat-grid-tile *ngFor="let image of images | slice:0:8">
    <div class="image" [ngStyle]="{'background-image': 'url(' + image.url + ')'}">
      <div class="text">
        <h2> {{ image.title }} </h2>
        <p> {{ description }} </p>
        <section>
          <app-list><app-rating></app-rating></app-list>
          <button>
            <mat-icon>remove_red_eye</mat-icon>
            <span>VOIR</span>
          </button>
          <button>
            <mat-icon>calendar_today</mat-icon>
            <span>BOOKER</span>
          </button>
        </section>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
