<mat-grid-list cols="4" rowHeight="2:2">
  <mat-grid-tile *ngFor="let image of images">
    <div></div>
    <img src="{{ image.url }} " alt="">
    <div>
      <h3> {{ image.title }} </h3>
      <p> {{ description }} </p>
        <app-list><app-rating></app-rating></app-list>
      <button>
        <mat-icon>remove_red_eye</mat-icon>
        <span>Voir !</span>
      </button>

      <button>
        <mat-icon>calendar_today</mat-icon>
        <span>Booker</span>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
